<%= form_with(url: signin_path) do |form|%>
   

    <div>
        <%= form.label :email %>
        <%= form.text_field :email%>
    </div>

    <div>
        <%= form.label :password%>
        <%= form.password_field :password%>
    </div>

    <div>
     <%= form.submit "Signin" %>
     
    </div>

    <div>
        <%= link_to "Don't have an account? Create one.", signup_path %>
    </div>
<% end %>