<div class="flex m-auto">
<%= form_with(url: signin_path, class: "w-96") do |form|%>
   

    <div>
        <%= form.label :email, class: "block text-gray-700 text-lg font-medium" %>
        <%= form.text_field :email, class: "w-full rounded mb-4 border-1", placeholder: "Email"%>
    </div>

    <div class="mb-8">
        <%= form.label :password, class: "block text-gray-700 font-bold text-lg font-medium" %>
        <%= form.password_field :password, placeholder: "**********", class: "w-full rounded border-1" %>
        <%= link_to "Forgot your password?", reset_password_path, class: "underline text-blue-500 text-sm hover:text-blue-300"%>
    </div>

    <div class="w-full">
     <%= form.submit "Sign in", class: "w-full text-white bg-blue-700 p-3 rounded font-semibold cursor-pointer hover:opacity-70" %>
     
    </div>

    <div class="text-center mt-3">
        <%= link_to "Don't have an account? Create one.", signup_path, class: "underline text-blue-500 hover:text-blue-300" %>
    </div>
<% end %>
</div>