<%= turbo_frame_tag movie, class: "contents" do %>
       
          <%= button_to movie_path(movie.id), method: :get, data: {turbo_frame: "_top"}, form_class: "break-words pr-3 py-3 border-t-2 border-gray-300", disabled: sharing do %>
            <span class="text-sm lg:text-base"><%=movie.name%></span>
          <% end %>
        
            <%= form_with(model: movie, class: "py-3 border-t-2 border-gray-300") do |form| %>
            <%= form.check_box :consumed, { value: !movie.consumed, onchange: 'this.form.requestSubmit()', disabled: sharing }%>
            <% end %>
          
            <%= button_to movie_path(movie.id, movie: {starred: !movie.starred}), method: :patch, form_class: "py-3 border-t-2 border-gray-300", disabled: sharing do %>
              <% if movie.starred %>
                <i class='fa-solid fa-star fa-lg text-yellow-500 ml-4'></i>
              <% else %>
                <i class="fa-regular fa-star fa-lg text-yellow-500 ml-4"></i>
              <% end %>
            <% end %>
              
<% end %>
  