<%= turbo_frame_tag movie, class: "contents" do %>
       
          <%= link_to movie_path(movie.id), target: "_top", class: "py-3 border-t-2 border-gray-300" do %>
            <span><%=movie.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y")%></span>
          <% end %>
          <%= link_to movie_path(movie.id), target: "_top", class: "pr-3 py-3 border-t-2 border-gray-300" do %>
            <span><%=movie.name%></span>
          <% end %>
        
            <%= form_with(model: movie, class: "py-3 border-t-2 border-gray-300") do |form| %>
            <%= form.check_box :consumed, { value: !movie.consumed, onchange: 'this.form.requestSubmit()' }%>
            <% end %>
          
            <%= button_to movie_path(movie.id, movie: {starred: !movie.starred}), method: :patch, form_class: "py-3 border-t-2 border-gray-300" do %>
              <% if movie.starred %>
                <i class='fa-solid fa-star fa-lg text-yellow-500'></i>
              <% else %>
                <i class="fa-regular fa-star fa-lg text-yellow-500"></i>
              <% end %>
            <% end %>
              
<% end %>
  