
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex items-center">
    <h1 class="font-bold text-4xl m-auto mt-4">Movies</h1>
    
  </div>

  <div class="w-2/3 mx-auto mt-10">
    <%= link_to 'Add movie', new_movie_path, class: "text-center w-32 rounded-lg py-3 px-5 bg-blue-700 text-white block font-medium hover:opacity-70" %>
  </div>

   <div class="flex w-2/3 mx-auto mt-6">
    <% if @movies.length > 0 %>
  
   <%= form_with url: filter_movies_path, method: :get, data: {controller: "search-form", search_form_target: "form", turbo_frame: "movies"} do |form| %>
      
      <%= form.text_field :search, placeholder: "Search...", class: "rounded-lg mr-4", data: {action: "input->search-form#search"} %>
   <% end %>
 
    <%= form_with url: filter_movies_path, method: :get, data: {turbo_frame: "movies"}, class: "mr-4" do |form| %>
      <%= form.label "Starred:" %>
      <%= form.select :show_starred, [["All", nil], ["Starred Only", 1], ["Not Starred Only", 0]],  {}, {onchange: "this.form.requestSubmit()", class: "rounded-lg"} %>
    <% end %>

    <%= form_with url: filter_movies_path, method: :get, data: {turbo_frame: "movies"} do |form| %>
      <%= form.label "Watched:" %>
      <%= form.select :show_consumed, [["All", nil], ["Watched Only", 1], ["Unwatched Only", 0]], {}, {onchange: "this.form.requestSubmit()", class: "w-42 rounded-lg"} %>
    <% end %>
</div>
  <%= render partial: "movies", locals: {movies: @movies} %>

  <% else %>
    <span class="italic text-gray-500 mx-auto">You don't have any movies yet. Click "Add Movie" to start your library!</span>
  <% end %>
</div>


