<div class="flex m-auto">


<%= form_with(model: @user, url: signup_path, class: "w-96") do |form|%>
    <div>
       <%= form.label :name, class: "block text-gray-700 text-lg font-medium" %>
       <%= form.text_field :name, class: "w-full rounded mb-4 border-1", placeholder: "Name"%>
    </div>
    <div>
        <%= form.label :email, class: "block text-gray-700 text-lg font-medium" %>
        <%= form.text_field :email, class: "w-full rounded mb-4 border-1", placeholder: "Email"%>
    </div>

    <div>
        <%= form.label :password, class: "block text-gray-700 text-lg font-medium"%>
        <%= form.password_field :password, class: "w-full rounded mb-4 border-1", placeholder: "********" %>
    </div>

    <div>
        <%= form.label :password_confirmation, class: "block text-gray-700 text-lg font-medium"%>
        <%= form.password_field :password_confirmation, class: "w-full rounded mb-4 border-1", placeholder: "********" %>
    </div>

    <div>
        <%= form.submit "Sign Up", class: "w-full text-white bg-blue-700 p-3 rounded font-semibold cursor-pointer hover:opacity-70"%>
    </div>
<% end %>
</div>