<%= turbo_frame_tag tvshow, class: "contents" do %>
       
          <%= button_to tvshow_path(tvshow.id), method: :get, data: {turbo_frame: "_top"}, form_class: "break-words py-3 border-t-2 border-gray-300", disabled: sharing do %>
            <span class="text-sm lg:text-base"><%=tvshow.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y")%></span>
          <% end %>
          <%= button_to tvshow_path(tvshow.id), method: :get, data: {turbo_frame: "_top"}, form_class: "break-words pr-3 py-3 border-t-2 border-gray-300", disabled: sharing do %>
            <span class="text-sm lg:text-base"><%=tvshow.name%></span>
          <% end %>
        
            <%= form_with(model: tvshow, class: "py-3 border-t-2 border-gray-300") do |form| %>
            <%= form.check_box :consumed, { value: !tvshow.consumed, onchange: 'this.form.requestSubmit()', disabled: sharing }%>
            <% end %>
          
            <%= button_to tvshow_path(tvshow.id, tvshow: {starred: !tvshow.starred}), method: :patch, form_class: "py-3 border-t-2 border-gray-300", disabled: sharing do %>
              <% if tvshow.starred %>
                <i class='fa-solid fa-star fa-lg text-yellow-500 ml-4'></i>
              <% else %>
                <i class="fa-regular fa-star fa-lg text-yellow-500 ml-4"></i>
              <% end %>
            <% end %>
              
<% end %>
  