
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex items-center">
    <h1 class="font-bold text-4xl m-auto mt-20">TV Shows</h1>
    
  </div>

  <div class="w-full lg:w-2/3 lg:mx-auto mt-6 lg:mt-10">
    <%= link_to 'Add TV Show', new_tvshow_path, class: "text-center w-36 rounded-lg py-3 px-5 bg-blue-700 text-white block font-medium hover:opacity-70" %>
  </div>

  <% if @tvshows.length > 0 %>
    <div class="flex flex-col-reverse lg:flex-row lg:w-2/3 lg:mx-auto mt-6">
      <%= form_with url: filter_tvshows_path, method: :get, data: {controller: "search-form", search_form_target: "form", turbo_frame: "tvshows"} do |form| %>
        <%= form.text_field :search, placeholder: "Search...", class: "rounded-lg w-full lg:w-auto lg:mr-4", data: {action: "input->search-form#search"} %>
      <% end %>
    <div class="flex mb-3">
      <%= form_with url: filter_tvshows_path, method: :get, data: {turbo_frame: "tvshows"}, class: "mr-4" do |form| %>
        <%= form.label "Starred:", class: "text-sm lg:text-base" %>
        <%= form.select :show_starred, [["All", nil], ["Starred Only", 1], ["Not Starred Only", 0]],  {}, {onchange: "this.form.requestSubmit()", class: "rounded-lg text-sm lg:text-base"} %>
      <% end %>

      <%= form_with url: filter_tvshows_path, method: :get, data: {turbo_frame: "tvshows"} do |form| %>
        <%= form.label "Watched:", class: "text-sm lg:text-base" %>
        <%= form.select :show_consumed, [["All", nil], ["Watched Only", 1], ["Unwatched Only", 0]], {}, {onchange: "this.form.requestSubmit()", class: "w-42 rounded-lg text-sm lg:text-base"} %>
      <% end %>
  </div>
</div>
 <%= render partial: "tvshows", locals: {tvshows: @tvshows, sharing: false} %>

 <% else %>
  <div class="w-full text-center mt-4">
    <span class="italic text-gray-500">You don't have any TV shows yet. Click "Add TV Show" to start your library!</span>
  </div> 
<% end %>
</div>


