<%= turbo_stream.replace @tvshow do %>
    <%= render @tvshow %>
<% end %>

<%= turbo_stream.replace "unwatched_tvshows" do %>
     <%= turbo_frame_tag "unwatched_tvshows" do %>
        <% if @tvshows.length > 0 %>
        <div class="w-2/3 mx-auto mt-4">
            <h2 class="font-bold text-2xl">TV Shows</h2>
        </div>
        <%= render partial: "tvshows/tvshows", locals: {tvshows: @tvshows} %>
        <% end %>
    <% end %>
<% end %>