  <div class="py-3 border-t-2 border-gray-300">
            <span><%=book.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y")%></span>
          </div>
          <div class="py-3 border-t-2 border-gray-300">
            <span><%=book.title%></span>
          </div>
          <div class="py-3 pr-3 border-t-2 border-gray-300">
            <span><%=book.author%></span>
          </div>
          <div class="py-3 border-t-2 border-gray-300">
            <span ><%=book.consumed%></span>
          </div>
          <div class="py-3 border-t-2 border-gray-300">
            <span><%=book.starred%></span>
  </div>
