 

          <%= link_to book_path(book.id), class: "py-3 border-t-2 border-gray-300" do %>
            <span><%=book.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y")%></span>
          <% end %>
          <%= link_to book_path(book.id), class: "pr-3 py-3 border-t-2 border-gray-300" do %>
            <span><%=book.title%></span>
          <% end %>
          <%= link_to book_path(book.id), class: "pr-3 py-3 border-t-2 border-gray-300" do %>
            <span><%=book.author%></span>
          <% end %>
         <%= link_to book_path(book.id), class: "py-3 border-t-2 border-gray-300" do %>
            <span ><%=book.consumed%></span>
          <% end %>
          <%= link_to book_path(book.id), class: "py-3 border-t-2 border-gray-300" do %>
            <span><%=book.starred%></span> 
          <% end %>
  