<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex items-center">
    <h1 class="font-bold text-4xl">Books</h1>
    
  </div>
  <%= link_to 'New book', new_book_path, class: "w-32 rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>

  <div id="books" class=" w-1/2 mt-6 mx-auto">
    
     <div class="flex border-b-2 border-b-gray-500">
          <span class="pb-5">Title</span>
          <span class="pb-5">Author</span>
          <span class="pb-5">Read</span>
          <span class="pb-5">Starred</span>
    </div>
      
        <% @books.each do |book|%>
          <div class="flex border-2 border-gray-300 rounded-xl">
            <span class="pb-4 "><%=book.title%></td>
            <span class="pb-4 "><%=book.author%></td>
            <span class="pb-4 "><%=book.consumed%></td>
            <span class="pb-4 "><%=book.starred%></td>
          </div>
        <% end %>
      
    
    
  </div>
</div>
