<div class="w-full">
    <% if @books.length == 0 and @articles.length == 0 and @movies.length == 0 and @tvshows.length == 0 and @podcasts.length == 0 and @tweets.length == 0  %>
            <span class="italic text-gray-500 mx-auto mt-20">You don't have anything in your Personal Library yet. Click "Add" to start!</span>
    <% else %>
    <div class="text-center mx-auto mt-20">
        <h1 class="font-bold text-4xl">Up Next</h1>
    </div>

   
    <%= turbo_frame_tag "unread_books" do %>
            <% if @books.length > 0 %>
                <div class="w-full lg:w-2/3 mx-auto mt-4">
                    <h2 class="font-bold text-2xl">Books</h2>
                </div>
                <%= render partial: "books/books", locals: {books: @books} %>
            <% end %>
    <% end %>

    
        
    <%= turbo_frame_tag "unread_articles" do %>
        <% if @articles.length > 0 %>
            <div class="w-full lg:w-2/3 mx-auto mt-4">
                <h2 class="font-bold text-2xl">Articles</h2>
            </div>
            <%= render partial: "articles/articles", locals: {articles: @articles} %>
        <% end %>
    <% end %>

    <%= turbo_frame_tag "unwatched_movies" do %>
        <% if @movies.length > 0 %>
            <div class="w-full lg:w-2/3 mx-auto mt-4">
                <h2 class="font-bold text-2xl">Movies</h2>
            </div>
    
            <%= render partial: "movies/movies", locals: {movies: @movies} %>
        <% end %>
    <% end %>

    
    <%= turbo_frame_tag "unwatched_tvshows" do %>
        <% if @tvshows.length > 0 %>
        <div class="w-full lg:w-2/3 mx-auto mt-4">
            <h2 class="font-bold text-2xl">TV Shows</h2>
        </div>
        <%= render partial: "tvshows/tvshows", locals: {tvshows: @tvshows} %>
        <% end %>
    <% end %>

     <%= turbo_frame_tag "unconsumed_podcasts" do %>
        <% if @podcasts.length > 0 %>
        <div class="w-full lg:w-2/3 mx-auto mt-4">
            <h2 class="font-bold text-2xl">Podcasts</h2>
        </div>
        <%= render partial: "podcasts/podcasts", locals: {podcasts: @podcasts} %>
        <% end %>
    <% end %>
   
</div>
<% end %>