<%= turbo_frame_tag podcast, class: "contents" do %>
       
          <%= link_to podcast_path(podcast.id), target: "_top", class: "py-3 border-t-2 border-gray-300" do %>
            <span><%=podcast.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y")%></span>
          <% end %>
          <%= link_to podcast_path(podcast.id), target: "_top", class: "pr-3 py-3 border-t-2 border-gray-300" do %>
            <span><%=podcast.name%></span>
          <% end %>
          <%= link_to podcast_path(podcast.id), target: "_top", class: "pr-3 py-3 border-t-2 border-gray-300" do %>
            <span><%=podcast.podcast%></span>
          <% end %>
          <%= link_to podcast.url, target: "_top", class: "pr-3 py-3 border-t-2 border-gray-300 underline hover:text-blue-500" do %>
            <span><%=truncate(podcast.url, length: 18)%></span>
          <% end %>
            <%= form_with(model: podcast, class: "py-3 border-t-2 border-gray-300") do |form| %>
            <%= form.check_box :consumed, { value: !podcast.consumed, onchange: 'this.form.requestSubmit()' }%>
            <% end %>
          
            <%= button_to podcast_path(podcast.id, podcast: {starred: !podcast.starred}), method: :patch, form_class: "py-3 border-t-2 border-gray-300" do %>
              <% if podcast.starred %>
                <i class='fa-solid fa-star fa-lg text-yellow-500'></i>
              <% else %>
                <i class="fa-regular fa-star fa-lg text-yellow-500"></i>
              <% end %>
            <% end %>
              
<% end %>
  