<%= turbo_frame_tag podcast, class: "contents" do %>
          
          <%= conditional_link_to !sharing, podcast_path(podcast.id), "break-words pr-3 py-3 border-t-2 border-gray-300" do %>
            <span class="text-sm lg:text-base"><%=podcast.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y")%></span>
          <% end %>
          
          <%= conditional_link_to !sharing, podcast_path(podcast.id), "break-words pr-3 py-3 border-t-2 border-gray-300" do %>
            <span class="text-sm lg:text-base"><%=podcast.name%></span>
          <% end %>
          <%= conditional_link_to !sharing, podcast_path(podcast.id), "break-words pr-3 py-3 border-t-2 border-gray-300" do %>
            <span class="text-sm lg:text-base"><%=podcast.podcast%></span>
          <% end %>
          <%= link_to podcast.url, target: "_blank", class: "break-words pr-3 py-3 border-t-2 border-gray-300 underline hover:text-blue-500" do %>
            <span class="text-sm lg:text-base"><%=truncate(podcast.url, length: 18)%></span>
          <% end %>
            <%= form_with(model: podcast, class: "py-3 border-t-2 border-gray-300") do |form| %>
            <%= form.check_box :consumed, { value: !podcast.consumed, onchange: 'this.form.requestSubmit()', disabled: sharing }%>
            <% end %>
          
            <%= button_to podcast_path(podcast.id, podcast: {starred: !podcast.starred}), method: :patch, form_class: "py-3 border-t-2 border-gray-300", disabled: sharing do %>
              <% if podcast.starred %>
                <i class='fa-solid fa-star fa-lg text-yellow-500'></i>
              <% else %>
                <i class="fa-regular fa-star fa-lg text-yellow-500"></i>
              <% end %>
            <% end %>
              
<% end %>
  