<%= turbo_stream.replace @podcast do %>
    <%= render @podcast %>
<% end %>

<%= turbo_stream.replace "unconsumed_podcasts" do %>
    <%= turbo_frame_tag "unconsumed_podcasts" do %>
        <% if @podcasts.length > 0 %>
        <div class="w-2/3 mx-auto mt-4">
            <h2 class="font-bold text-2xl">Podcasts</h2>
        </div>
        <%= render partial: "podcasts/podcasts", locals: {podcasts: @podcasts} %>
        <% end %>
    <% end %>
<% end %>