<!DOCTYPE html>
<html>
  <head>
    <title>PersonalLibrary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen w-screen">
    
      
        <%= render partial: "shared/navbar" %>

        <% if flash[:alert] or flash[:notice] %>
          <div class="flex fixed top-36 left-1/2 -translate-x-1/2">
            <%= render partial: "shared/flash" %>
           </div>
        <% end %>

      <div class="flex min-h-screen mt-4 mx-8">
        <%= yield %>
      </div>
      
  </body>
</html>
